<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TP1</display-name>
  <listener>
    <listener-class>ea.config.InitialisationDaoFactory</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>ea.servlets.IndexControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CollectionPeintures</servlet-name>
    <servlet-class>ea.servlets.CollectionPeinturesControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionPeintures</servlet-name>
    <url-pattern>/collectionPeintures</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>ea.servlets.ConnexionControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>ea.servlets.DeconnexionControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>ea.servlets.InscriptionControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilGestion</servlet-name>
    <servlet-class>ea.servlets.AccueilGestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilGestion</servlet-name>
    <url-pattern>/gestion/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationUtilisateur</servlet-name>
    <servlet-class>ea.servlets.ModificationUtilisateurControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationUtilisateur</servlet-name>
    <url-pattern>/gestion/modificationProfilUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListeOeuvresUtilisateur</servlet-name>
    <servlet-class>ea.servlets.ListeOeuvresUtilisateurControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeOeuvresUtilisateur</servlet-name>
    <url-pattern>/gestion/listeOeuvreUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationOeuvreUtilisateur</servlet-name>
    <servlet-class>ea.servlets.ModificationOeuvreUtilisateurControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationOeuvreUtilisateur</servlet-name>
    <url-pattern>/gestion/modificationOeuvreUtilisateur</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<servlet-name>Image</servlet-name>
		<servlet-class>ea.servlets.Image</servlet-class>
		<init-param>
			<param-name>chemin</param-name> 
			<param-value>/fichiers/Oeuvres/</param-value>
		</init-param>
	</servlet>
  	<servlet-mapping>
		<servlet-name>Image</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>
  
  <servlet>
    <servlet-name>ValidationModifOeuvre</servlet-name>
    <servlet-class>ea.servlets.ValidationModifOeuvreControler</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/fichiers/Oeuvres/</param-value>
    </init-param>
    <multipart-config>
      <location>c:/fichiers/Oeuvres/</location>
      <max-file-size>1048576</max-file-size>
      <max-request-size>5242880</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationModifOeuvre</servlet-name>
    <url-pattern>/gestion/validationModifOeuvre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutOeuvre</servlet-name>
    <servlet-class>ea.servlets.AjoutOeuvreControler</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/fichiers/Oeuvres/</param-value>
    </init-param>
    <multipart-config>
      <location>c:/fichiers/Oeuvres/</location>
      <max-file-size>1048576</max-file-size>
      <max-request-size>5242880</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutOeuvre</servlet-name>
    <url-pattern>/gestion/ajoutOeuvre</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Gestion</filter-name>
    <filter-class>ea.filtres.GestionFiltre</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Gestion</filter-name>
    <url-pattern>/gestion/*</url-pattern>
  </filter-mapping>
<!--    <filter>
    <filter-name>DownloadFilter</filter-name>
    <filter-class>ea.filtres.DownloadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DownloadFilter</filter-name>
    <url-pattern>/fichiers/*</url-pattern>
  </filter-mapping> -->
  <filter>
    <filter-name>LoadBDD</filter-name>
    <filter-class>ea.filtres.LoadBddFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoadBDD</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>